@{
    ViewData["Title"] = "Home Page";
}


<div class="BarraPerfil">

    <div class="B1Perfil">

        <div class="FtPerfil"></div>
        <div class="TextPerfil">
            <label class="NomePerfil">Patricia Rodrigues</label>
            <label class="CargoPerfil"></label>
        </div>

        

    </div>

    <div class="CalendarioPerfil">
            <label></label>
            <div class="Calendario1"></div>
    </div>

     <div class="AgendaDPerfil">
         <div class="NotD">

         </div>
         <div class="NotD">

         </div>
         <div class="NotD">

         </div>
            
    </div>


</Div>

<div class="HomeDivA">
    
  <div class="HomeDivA1">
      <h1 class="h1T">Bom dia, dra. <label class="HomeDivA1nome">Patricia.</label> <h5>Boas-vindas ao atrio</h5></h1>
       
      
  </Div>

      <label class="TextAtalhos">Caminhos</label>


      <div class="AtalhoIcon">

          <DIV class="Atalho1">
              <div class="ImgAtalho1"> 
                  <img src="~/img/icons/prancheta.png" />
              </Div>
              <div class="ItextAtalho1"> Prontuario</Div>
          </DIV>

          <DIV class="Atalho1">
              <div class="ImgAtalho1">
                  <img src="~/img/icons/atadura.png" />
              </Div>
              <div class="ItextAtalho1"> Estoque</Div>
          </DIV>
          <DIV class="Atalho1">
              <div class="ImgAtalho1">
                <img src="~/img/icons/calendário.png" />
              </Div>
              <div class="ItextAtalho1"> Agenda</Div>
          </DIV>
          <DIV class="Atalho1">
              <div class="ImgAtalho1">
                  <img src="~/img/icons/finanças.png" />
              </Div>
              <div class="ItextAtalho1">Finanças</Div>
          </DIV>
          <DIV class="Atalho2">
              <div class="ImgAtalho1">+</Div>
              <div class="ItextAtalho1"> </Div>
          </DIV>

      </Div>

      <label class="TextAtalhos">Proximas consultas</label>
     
      
      <div class="tabAgenda">


          <ul class="responsive-table">
               <!-- <li class="table-header">
                    <div class="col col-1"></div>

                    <div class="col col-2">
                        Nome <div class="BtsOrd" onclick="toggleOrder(this, 2)">
                                <div class="BtsOrd1"></div>
                                <div class="BtsOrd2"></div>
                            </div>
                    </div>

                    <div class="col col-4">
                        Agendamento<div class="BtsOrd" onclick="toggleOrder(this, 4)">
                            <div class="BtsOrd1"></div>
                            <div class="BtsOrd2"></div>
                        </div>
                    </div>
                    
                </li>-->
                <li class="table-row">
                <div class="col col-1" onclick="toggleDiv(this)" data-label="Job Id">teste<div class="IconItem"><div class="IconItem1"></div></div></div>
                    <div class="col col-2" data-label="Customer Name">Alice M</div>
                    <div class="col col-4" data-label="Payment Status">25/01/2024</div>
                    
                </li>
                <li class="table-row">
                    <div class="col col-1" onclick="toggleDiv(this)" data-label="Job Id"> teste<div class="IconItem"><div class="IconItem1"></div></div></div>
                    <div class="col col-2" data-label="Customer Name">batman w</div>
                    <div class="col col-4" data-label="Payment Status">28/01/2024</div>
                    
                </li>
               
            </ul>


      </div>
     
 
  

   

</div>


